.banner {
    width: 100%;
    height: 223px;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6); 
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 48px;
        width: 100%;
        text-align: center;
        z-index: 10;
        font-weight: 500;
    }
}
