.card {
    width: 100%;
    height: 340px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    background-color: #FF6060;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;

    &:hover {
        transform: scale(1.02);
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        z-index: 1;
    }

    &__title {
        position: relative;
        z-index: 2;
        color: white;
        font-size: 18px;
        font-weight: 500;
        margin: 20px;
        width: 80%;
        line-height: 142.6%;
    }
}