.home {
    &__gallery {
        background-color: #F6F6F6;
        border-radius: 25px;
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr)); 
        gap: 50px;
        margin-bottom: 50px;
    }
}

